{% extends "base.html" %}
{% load static %}
{% block body  %}
    <!-- Start blog Area -->
    <section class="blog-area section-gap">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 pb-30 header-text">
            <h1>{{note}}</h1>
            <div align="center">
              {% if user.is_authenticated %}
                <a href="{% url 'notes:note_edit' note.slug %}">Edit Note</a>
              {% endif %}
            </div>
            <p>
              {{note.created|date:"j M"}} | {{note.tags}} | {{note.user.username}}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="single-blog col-lg-12 col-md-12">
            {% if note.photo %}
              <div class="single-blog col-lg-12 col-md-12">
                <img class="f-img img-fluid mx-auto post_banner" src="{{note.photo.url}}" alt="">
            {% else %}
              <div class="single-blog col-lg-12 col-md-12">
                <img class="f-img img-fluid mx-auto" src="{% static 'home-static/img/android-chrome-192x192.png' %}" alt="">
            {% endif %}

              <h2>{{note.title}}</h2>

              <h4>{% for step in steps %}
                  {{step.step_content}}<br>
                  {% endfor %}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end blog Area -->
{% endblock  %}
