{% extends "base.html" %}
{% load static %}
{% block body  %}
    <!-- Start blog Area -->
    <section class="blog-area section-gap">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 pb-30 header-text">
            <h1>{{note}}</h1>
            <div align="center">
              {% if user.is_authenticated %}
                <a href="{% url 'notes:note_edit' note.slug %}">Edit Note</a>
              {% endif %}
            </div>
            <p>
              {{note.created|date:"j M"}} | {{note.tags}} | {{note.user.username}}
            </p>
          </div>
        </div>
        <div class="row">
          <div style="display: flex; justify-content: center;">
            {% if note.featured_photo %}
              <div class="single-blog col-lg-12 col-md-12">
                <img class="f-img img-fluid mx-auto post_banner" src="{{note.featured_photo.url}}" alt="">
            {% else %}
              <div class="single-blog col-lg-12 col-md-12">
                <img class="f-img img-fluid mx-auto post_banner" src="{% static 'home-static/img/3.png' %}" ><br>
            {% endif %}
              <h2>:المقدمة</h2><br><br>
              {{note.about|safe}}<br>
              {% if note.about_photo %}
              <img class="f-img img-fluid mx-auto " src="{{note.about_photo.url}}" width="500px" height="500px"><br>
              {% else %}
                <div class="single-blog col-lg-12 col-md-12">
                  <img class="f-img img-fluid mx-auto post_banner" src="{% static 'home-static/img/3.png' %}" ><br>
              {% endif %}
              {{note.comp|safe}}<br>
              {% if note.comp_photo %}
              <img class="f-img img-fluid mx-auto " src="{{note.comp_photo.url}}" width="500px" height="500px"><br>
              {% else %}
                <div class="single-blog col-lg-12 col-md-12">
                  <img class="f-img img-fluid mx-auto post_banner" src="{% static 'home-static/img/3.png' %}" ><br>
              {% endif %}
              {{note.tools|safe}}<br>
              {% if note.tools_photo %}
              <img class="f-img img-fluid mx-auto " src="{{note.tools_photo.url}}" width="500px" height="500px" ><br>
              {% else %}
                <div class="single-blog col-lg-12 col-md-12">
                  <img class="f-img img-fluid mx-auto post_banner" src="{% static 'home-static/img/3.png' %}" ><br>
              {% endif %}
                <hr>
              <h2>:خطوات المشروع</h2><br><br>
              {% for step in steps %}
                      {{step.step_title}}<br>
                      {{step.step_photo_caption}}<br>
                      {% if step.step_photo %}
                      <img class="f-img img-fluid mx-auto post_banner" src="{{step.step_photo.url}}" alt=""><br>
                      {% else %}
                        <div class="single-blog col-lg-12 col-md-12">
                          <img class="f-img img-fluid mx-auto post_banner" src="{% static 'home-static/img/3.png' %}" ><br>
                      {% endif %}
                      {{step.step_content}}<br>
                      {% if step.step_code %}
                      <a href="{{step.step_code.url}}">code file</a>
                      {% else %}
                        <p>No Code For This Step</p>
                      {% endif %}
                      <hr>
              {% endfor %}
              <h2>:الكتالوج</h2><br>
              <h4>:التكلفة الشاملة للمشروع</h4><br>
              {{note.project_cost|safe}}<br>
              <h4>:اماكن شراء الادوات والمكونات</h4><br>
              {{note.purchase_place|safe}}<br>
              <h4>:</h4><br>
              {{note.purchase_place|safe}}<br>
              <h4>:التكلفة الشاملة للمشروع</h4><br>
              {{note.tools_usage|safe}}<br>
              <h4>:التكلفة الشاملة للمشروع</h4><br>
              {{note.the_end|safe}}<br>
              {% if note.comp_photo %}
              <img class="f-img img-fluid mx-auto post_banner" src="{{note.fin_photo.url}}" alt=""><br>
              {% else %}
                <div class="single-blog col-lg-12 col-md-12">
                  <img class="f-img img-fluid mx-auto post_banner" src="{% static 'home-static/img/3.png' %}" ><br>
              {% endif %}
              <h4>:الكود</h4><br>
              {% if note.project_code %}
              <a href="{{note.project_code.url}}">code file</a>
              {% else %}
                <p>No Code For This Project</p>
              {% endif %}
            </div>
          </div>
        </div>

    </section>
    <!-- end blog Area -->
{% endblock  %}
